<mat-card class="header" fxLayout="column">
    <div style="padding: 5px;" fxLayoutAlign="space-between" style="margin-right: 40px; margin-left: 40px; ">
      <h1 style="line-height:38px; margin: 0px;"><strong style="text-align: center;">SUDOKU</strong></h1>
      <div style="line-height:38px;" >
        <label style="font-weight: bold;">Time: </label>
        <button mat-raised-button style="background-color: rgb(8, 139, 96);" >
          <div>{{timerDisplay}}</div>
        </button>
        <!-- <mat-icon>timer</mat-icon> -->
      </div>
    </div>
    <div style="padding: 5px;" fxLayoutAlign="space-evenly center">
      <button mat-raised-button style="background-color: rgb(8, 139, 96);" [disabled]="isButtonDisabled('start')"  (click)="btnClick('start')">START</button>
      <button mat-raised-button color="primary" [disabled]="isButtonDisabled('pause')" *ngIf="isButtonVisible('pause')" (click)="btnClick('pause')">PAUSE</button>
      <button mat-raised-button color="primary" [disabled]="isButtonDisabled('resume')" *ngIf="isButtonVisible('resume')" (click)="btnClick('resume')">RESUME</button>
      <button mat-raised-button color="warn" [disabled]="isButtonDisabled('stop')" (click)="btnClick('stop')">STOP</button>
    </div>
  
  </mat-card>

 