<mat-card class="container" fxLayout="column">
  <mat-card-title fxLayoutAlign="space-evenly">
    <h1><strong>SUDOKU</strong></h1>
  </mat-card-title>
  <mat-card-header fxLayout="row" fxLayoutAlign="space-evenly center">
    <button mat-raised-button color="accent">START</button>
    <button mat-raised-button color="warn">PAUSE</button>
    <button mat-raised-button color="primary">RESUME</button>
    <button mat-raised-button color="basic">STOP</button>
  </mat-card-header>

</mat-card>
<div class="board" fxLayout="row wrap">
  <mat-grid-list class="square"  cols="3">
    <mat-grid-tile class="cell"><input matInput class="input-text"></mat-grid-tile>
    <mat-grid-tile class="cell"><input matInput class="input-text"></mat-grid-tile>
    <mat-grid-tile class="cell"><input matInput class="input-text"></mat-grid-tile>
    <mat-grid-tile class="cell"><input matInput class="input-text"></mat-grid-tile> 
    <mat-grid-tile class="cell"><input matInput class="input-text"></mat-grid-tile>
    <mat-grid-tile class="cell"><input matInput class="input-text"></mat-grid-tile>
    <mat-grid-tile class="cell"><input matInput class="input-text"></mat-grid-tile>
    <mat-grid-tile class="cell"><input matInput class="input-text"></mat-grid-tile>
    <mat-grid-tile class="cell"><input matInput class="input-text"></mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list class = "square"  cols="3" >
    <mat-grid-tile class="cell">1</mat-grid-tile>
    <mat-grid-tile class="cell">2</mat-grid-tile>
    <mat-grid-tile class="cell">3</mat-grid-tile>
    <mat-grid-tile class="cell">4</mat-grid-tile>
    <mat-grid-tile class="cell">5</mat-grid-tile>
    <mat-grid-tile class="cell">6</mat-grid-tile>
    <mat-grid-tile class="cell">7</mat-grid-tile>
    <mat-grid-tile class="cell">8</mat-grid-tile>
    <mat-grid-tile class="cell">9</mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list class = "square"  cols="3" >
    <mat-grid-tile class="cell">1</mat-grid-tile>
    <mat-grid-tile class="cell">2</mat-grid-tile>
    <mat-grid-tile class="cell">3</mat-grid-tile>
    <mat-grid-tile class="cell">4</mat-grid-tile>
    <mat-grid-tile class="cell">5</mat-grid-tile>
    <mat-grid-tile class="cell">6</mat-grid-tile>
    <mat-grid-tile class="cell">7</mat-grid-tile>
    <mat-grid-tile class="cell">8</mat-grid-tile>
    <mat-grid-tile class="cell">9</mat-grid-tile>
  </mat-grid-list>
  <div></div>

  <mat-grid-list class = "square"  cols="3" >
    <mat-grid-tile class="cell">1</mat-grid-tile>
    <mat-grid-tile class="cell">2</mat-grid-tile>
    <mat-grid-tile class="cell">3</mat-grid-tile>
    <mat-grid-tile class="cell">4</mat-grid-tile>
    <mat-grid-tile class="cell">5</mat-grid-tile>
    <mat-grid-tile class="cell">6</mat-grid-tile>
    <mat-grid-tile class="cell">7</mat-grid-tile>
    <mat-grid-tile class="cell">8</mat-grid-tile>
    <mat-grid-tile class="cell">9</mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list class = "square"  cols="3" >
    <mat-grid-tile class="cell">1</mat-grid-tile>
    <mat-grid-tile class="cell">2</mat-grid-tile>
    <mat-grid-tile class="cell">3</mat-grid-tile>
    <mat-grid-tile class="cell">4</mat-grid-tile>
    <mat-grid-tile class="cell">5</mat-grid-tile>
    <mat-grid-tile class="cell">6</mat-grid-tile>
    <mat-grid-tile class="cell">7</mat-grid-tile>
    <mat-grid-tile class="cell">8</mat-grid-tile>
    <mat-grid-tile class="cell">9</mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list class = "square"  cols="3" >
    <mat-grid-tile class="cell">1</mat-grid-tile>
    <mat-grid-tile class="cell">2</mat-grid-tile>
    <mat-grid-tile class="cell">3</mat-grid-tile>
    <mat-grid-tile class="cell">4</mat-grid-tile>
    <mat-grid-tile class="cell">5</mat-grid-tile>
    <mat-grid-tile class="cell">6</mat-grid-tile>
    <mat-grid-tile class="cell">7</mat-grid-tile>
    <mat-grid-tile class="cell">8</mat-grid-tile>
    <mat-grid-tile class="cell">9</mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list class = "square"  cols="3" >
    <mat-grid-tile class="cell">1</mat-grid-tile>
    <mat-grid-tile class="cell">2</mat-grid-tile>
    <mat-grid-tile class="cell">3</mat-grid-tile>
    <mat-grid-tile class="cell">4</mat-grid-tile>
    <mat-grid-tile class="cell">5</mat-grid-tile>
    <mat-grid-tile class="cell">6</mat-grid-tile>
    <mat-grid-tile class="cell">7</mat-grid-tile>
    <mat-grid-tile class="cell">8</mat-grid-tile>
    <mat-grid-tile class="cell">9</mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list class = "square"  cols="3" >
    <mat-grid-tile class="cell">1</mat-grid-tile>
    <mat-grid-tile class="cell">2</mat-grid-tile>
    <mat-grid-tile class="cell">3</mat-grid-tile>
    <mat-grid-tile class="cell">4</mat-grid-tile>
    <mat-grid-tile class="cell">5</mat-grid-tile>
    <mat-grid-tile class="cell">6</mat-grid-tile>
    <mat-grid-tile class="cell">7</mat-grid-tile>
    <mat-grid-tile class="cell">8</mat-grid-tile>
    <mat-grid-tile class="cell">9</mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list class = "square"  cols="3" >
    <mat-grid-tile class="cell">1</mat-grid-tile>
    <mat-grid-tile class="cell">2</mat-grid-tile>
    <mat-grid-tile class="cell">3</mat-grid-tile>
    <mat-grid-tile class="cell">4</mat-grid-tile>
    <mat-grid-tile class="cell">5</mat-grid-tile>
    <mat-grid-tile class="cell">6</mat-grid-tile>
    <mat-grid-tile class="cell">7</mat-grid-tile>
    <mat-grid-tile class="cell">8</mat-grid-tile>
    <mat-grid-tile class="cell">9</mat-grid-tile>
  </mat-grid-list>


</div>