/* You can add global styles to this file, and also import other style files */

// html, body { height: 100%; }
body { 
    margin: 5px auto 0px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: url(images/pattern.png); }
.header {
    margin: 0px auto;
    width: 490px;
    height: 120px;
    padding: 0px;
    background-color: teal;
}
.board {
    margin: 5px auto 0px;
    width: 490px;
    height: 490px;
    padding: 0px;
    background-color: teal;
}
.square {
    width: 150px;
    height: 150px; 
    border-color: aquamarine;
    padding-bottom: 5px!important;
    margin: 5px;
}

.paused {
    color: #ffffff;
    div {
        text-align: center;
        margin-top: 230px;
        font-size: 20px;
        font-weight: bold;
        font-style: italic;
        letter-spacing: 1px;
    }
}

.cell {
    background-color:cadetblue;
    border: 2px;
    border-color: midnightblue;
    font-weight: bold;
    
}
.mat-raised-button {
    height: 36px;
    width: 100px;
}
.input-text {
    width: 35px;
    height: 35px;
    padding: 0px;
    margin: auto;
    text-align: center;
}

.cell-selected {
    background-color: rgb(50, 205, 197);

    input {
        background-color:rgb(50, 205, 197);
    }
}

.cell-highlighted {
    background-color:rgb(219, 224, 223);
    input {
        background-color:  rgb(219, 224, 223);
    }
}

.cell-error {
    //background-color:red;
    color : red;
    font-weight: bold;
    input {
        //background-color:  red;
        color : red;
        font-weight: bold;
    }
}

